body{
font-family:Arial;
background:#f4f6f9;
text-align:center;
}

h1{
background:#2c3e50;
color:white;
padding:20px;
}

.menu button{
padding:12px;
margin:10px;
background:#3498db;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

.menu button:hover{
background:#2980b9;
}

input{
padding:10px;
margin:5px;
border-radius:5px;
border:1px solid #ccc;
}

table{
margin:auto;
border-collapse:collapse;
}

th{
background:#34495e;
color:white;
padding:10px;
}

td{
padding:10px;
border:1px solid #ddd;
}
